# Pandas in Python Basics

## Daten importieren

Falls Pandas noch nicht installiert ist kann dies mit `pip install pandas` nachgeholt werden.

In [ ]:
# Pandas Library importieren

- Pfad zum File definieren
- CSV importieren mittels Pandas

## Datenstruktur verstehen

- Pandas Dataframe kennenlernen. Ein pandas DataFrame ist eine tabellenartige Datenstruktur in Python, die Daten in Zeilen und Spalten organisiert und so die Datenanalyse und -bearbeitung erleichtert.
- Spalten-Namen ausgeben
- Ersten 5 Einträge ausgeben
- Einen spezifischen Eintrag an Index-Position `n` ausgeben
- Eine spezifische Spalte ausgeben

In [ ]:
# What type does "data" have?

In [ ]:
# Print the columns of the DataFrame

In [ ]:
# print the first 5 entries

In [ ]:
# Print an item on a specific location

In [ ]:
# print a specific column

## Daten Sortieren

- Daten nach einer Spalte alphabetisch sortieren
- Daten nach einer Spalte nach Werten sortieren

In [ ]:
# sort a-z

In [ ]:
# sort by rating

## Daten Filtern

Um einen Pandas Dataframe zu Filtern wird die Bedingung direkt in die eckigen Klammern geschrieben und das Resultat einer neuen Variable zugewiesen.

```python
filtered_data = data[data["year"] == "1989"]
```

- Filtere die Daten nach verschiedenen Werten wie dem Jahr oder dem Land.
- Finde alle Filme mit einem Rating höher als 9
- Finde alle Filme zwischen 1990 und 1999
- Finde alle Filme mit dem Genre "Animation"

In [ ]:
# filter by 1989

In [ ]:
# filter by japan

Dadurch werden alle Filme gefiltert welche nur in Japan produziert wurden. Filme welche unter anderem in Japan produziert wurden fallen raus da der Wert des Feldes nicht nur das Wort "Japan" enthält sondern bspw. "USA, Japan". Mit `str.contains` wird geschaut ob in einem String (bspw. "USA, Japan") ein Teil "Japan" vorkommt.

In [ ]:
# filter by contain japan

In [ ]:
# All movies with a rating of 9 or higher

Um alle Filme zwischen 1990 und 1999 zu finden müssen Zahlen verglichen werden können. Das Problem ist, dass es sich bei den Werten in `data["year"]` um Strings und nicht um Zahlen handelt. Dies lässt sich feststellen in dem der Typ eines Eintrages ausgegeben wird: `print(type(data["year"].iloc[10]))`.

Um das Problem zu umgehen müssen die Strings in Zahlen konvertiert werden. Dazu kann dem Dataframe eine neue Spalte hinzugefügt werden mit `data['year_numeric']`. In diese Spalte werden die konvertierten Werte gespeichert. Dadurch bleiben die uhrsprünglichen Werte in der Spalte "Year" vorhanden. Um die Werte umzurechnen kann auf eine Pandas Funktion zurückgegriffen werden: `pd.to_numeric(data['year'], errors='coerce')`

In [ ]:
# Print the type of a year entry

# Convert the 'year' column to numeric, coercing errors (e.g., invalid strings will become NaN)

# apply the filtering

In [ ]:
# Filter movies of a certain genre

In [ ]:
# Filter another genre

## Basic Statistics

- Berechne den Mean und Median der Ratings. Der Mittelwert (Mean) ist der Durchschnitt, der berechnet wird, indem alle Werte addiert und durch die Anzahl der Werte geteilt werden. Der Median hingegen ist der mittlere Wert in einer sortierten Datenreihe, der die Daten in zwei Hälften teilt – unabhängig von extremen Ausreißern.
- Berechne den häufigsten Wert (Mode)
- Finde den niedrigsten und höchsten Wert.

When using `.describe()` some numbers are given in scientific notation (also called exponential notation).

4.934499e+04 means: 4.934499 x 10^4
Which equals: 49344.99

In [ ]:
# .describe() outputs all popular statistics of a data set.
# Disable scientific notation for floats

In [ ]:
# Calculate the mean

# Calculate the median

# Print the results

In [ ]:
# Calculate the mode (häufigster wert)

In [ ]:
# Min & Max

## Export

- Exportiere einer der gefilterten Datensätze als neues CSV.
- Exportiere den selben Datensatz auch als JSON und Excel File

In [ ]:
# export to csv

In [ ]:
# export to json

In [ ]:
# export to excel