# Pandas in Python Basics

## Daten importieren

Falls Pandas noch nicht installiert ist kann dies mit `pip install pandas` nachgeholt werden.

In [1]:
# Pandas Library importieren
import pandas as pd

- Pfad zum File definieren
- CSV importieren mittels Pandas

In [2]:
file_path = "./data/movies_imdb.csv"
data = pd.read_csv(file_path)

## Datenstruktur verstehen

- Pandas Dataframe kennenlernen. Ein pandas DataFrame ist eine tabellenartige Datenstruktur in Python, die Daten in Zeilen und Spalten organisiert und so die Datenanalyse und -bearbeitung erleichtert.
- Spalten-Namen ausgeben
- Ersten 5 Einträge ausgeben
- Einen spezifischen Eintrag an Index-Position `n` ausgeben
- Eine spezifische Spalte ausgeben

In [3]:
# What type does "data" have?
type(data)

pandas.core.frame.DataFrame

In [4]:
# Print the columns of the DataFrame
data.columns

Index(['imdbID', 'title', 'year', 'rating', 'runtime', 'genre', 'released',
       'director', 'writer', 'cast', 'metacritic', 'imdbRating', 'imdbVotes',
       'poster', 'plot', 'fullplot', 'language', 'country', 'awards',
       'lastupdated', 'type'],
      dtype='object')

In [5]:
# print the first 5 entries
data.head()

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
0,1,Carmencita,1894,NOT RATED,1 min,"Documentary, Short",NaN,William K.L. Dickson,NaN,Carmencita,...,5.9,1032.0,https://m.media-amazon.com/images/M/MV5BMjAzND...,Performing on what looks like a small wooden s...,Performing on what looks like a small wooden s...,NaN,USA,NaN,2015-08-26 00:03:45.040000000,movie
1,5,Blacksmith Scene,1893,UNRATED,1 min,Short,1893-05-09,William K.L. Dickson,NaN,"Charles Kayser, John Ott",...,6.2,1189.0,NaN,Three men hammer on an anvil and pass a bottle...,A stationary camera looks at a large anvil wit...,NaN,USA,1 win.,2015-08-26 00:03:50.133000000,movie
2,3,Pauvre Pierrot,1892,NaN,4 min,"Animation, Comedy, Short",1892-10-28,�mile Reynaud,NaN,NaN,...,6.7,566.0,NaN,"One night, Arlequin come to see his lover Colo...","One night, Arlequin come to see his lover Colo...",NaN,France,NaN,2015-08-12 00:06:02.720000000,movie
3,8,Edison Kinetoscopic Record of a Sneeze,1894,NaN,1 min,"Documentary, Short",1894-01-09,William K.L. Dickson,NaN,Fred Ott,...,5.9,988.0,NaN,A man (Thomas Edison's assistant) takes a pinc...,A man (Edison's assistant) takes a pinch of sn...,NaN,USA,NaN,2015-08-10 00:21:07.127000000,movie
4,10,Employees Leaving the Lumi�re Factory,1895,NaN,1 min,"Documentary, Short",1895-03-22,Louis Lumi�re,NaN,NaN,...,6.9,3469.0,NaN,A man opens the big gates to the Lumi�re facto...,A man opens the big gates to the Lumi�re facto...,NaN,France,NaN,2015-08-26 00:03:56.603000000,movie

In [5]:
# Print an item on a specific location
data.iloc[10]

imdbID                                                        91
title                                     The House of the Devil
year                                                        1896
rating                                                       NaN
runtime                                                    3 min
genre                                              Short, Horror
released                                                     NaN
director                                          Georges M�li�s
writer                                            Georges M�li�s
cast                               Jeanne d'Alcy, Georges M�li�s
metacritic                                                   NaN
imdbRating                                                   6.8
imdbVotes                                                 1135.0
poster                                                       NaN
plot           A bat flies into an ancient castle and transfo...
fullplot       A bat flies into an ancient castle and transfo...
language                                                     NaN
country                                                   France
awards                                                       NaN
lastupdated                        2015-08-26 00:06:16.697000000
type                                                       movie
Name: 10, dtype: object

In [6]:
# print a specific column
data["title"]

0                                    Carmencita
1                              Blacksmith Scene
2                                Pauvre Pierrot
3        Edison Kinetoscopic Record of a Sneeze
4         Employees Leaving the Lumi�re Factory
                          ...
46009                         The New Classmate
46010        Untitled Christopher Nolan Project
46011                    Die Turnschuh-Giganten
46012                  The Monster of Mangatiti
46013                             The Last Word
Name: title, Length: 46014, dtype: object

## Daten Sortieren

- Daten nach einer Spalte alphabetisch sortieren
- Daten nach einer Spalte nach Werten sortieren

In [7]:
sorted_title_az = data.sort_values(by="title", ascending=True)
sorted_title_az.head()

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
36921,1699720,!Women Art Revolution,2010,NaN,83 min,Documentary,2011-06-01,Lynn Hershman-Leeson,NaN,Lynn Hershman-Leeson,...,6.7,142.0,https://m.media-amazon.com/images/M/MV5BMjE1MD...,"Through intimate interviews, provocative art, ...","Through intimate interviews, provocative art, ...",English,USA,2 nominations.,2015-04-02 00:54:39.997000000,movie
36405,1637976,#1 Cheerleader Camp,2010,UNRATED,95 min,Comedy,2010-07-27,Mark Quod,Naomi L. Selfman (screenplay),"Charlene Tilton, Seth Cassell, Jay Gillespie, ...",...,3.8,2421.0,https://m.media-amazon.com/images/M/MV5BMTY3ND...,A pair of horny college guys get summer jobs a...,When they're hired to work at a cheerleading c...,English,USA,NaN,2015-09-11 00:12:47.397000000,movie
43709,3526286,#Horror,2015,NaN,90 min,"Drama, Horror, Mystery",NaN,Tara Subkoff,"Tara Subkoff, Tara Subkoff","Taryn Manning, Natasha Lyonne, Chlo� Sevigny, ...",...,NaN,NaN,https://m.media-amazon.com/images/M/MV5BMTU3Mj...,"Inspired by actual events, a group of 12 year ...",#HORROR is a film about the lives of six young...,English,USA,NaN,2015-08-26 01:08:41.057000000,movie
42572,3060338,#chicagoGirl: The Social Network Takes on a Di...,2013,NaN,74 min,"Documentary, Action, Drama",2014-05-18,Joe Piscatella,Joe Piscatella,NaN,...,7.1,77.0,https://m.media-amazon.com/images/M/MV5BMTgwOD...,From her childhood bedroom in the Chicago subu...,From her childhood bedroom in the Chicago subu...,English,"USA, Syria",2 wins & 2 nominations.,2015-09-01 00:08:44.710000000,movie
8481,68152,$,1971,R,121 min,"Comedy, Crime, Drama",1971-12-17,Richard Brooks,Richard Brooks,"Warren Beatty, Goldie Hawn, Gert Fr�be, Robert...",...,6.5,1608.0,https://m.media-amazon.com/images/M/MV5BMzkxMz...,A bank security expert plots with a call girl ...,Several criminals use safe deposit boxes in a ...,"English, German",USA,1 nomination.,2015-09-05 00:51:51.667000000,movie

In [8]:
sorted_rating = data.sort_values(by="imdbRating", ascending=False)
sorted_rating.head()

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
20963,185906,Band of Brothers,2001,TV-MA,705 min,"Action, Drama, History",2001-09-09,NaN,NaN,"Scott Grimes, Matthew Leitch, Damian Lewis, Ro...",...,9.6,183802.0,https://m.media-amazon.com/images/M/MV5BMTI3OD...,The story of Easy Company of the US Army 101st...,"This is the story of ""E"" Easy Company, 506th R...","English, Dutch, French, German, Lithuanian","UK, USA",Won 1 Golden Globe. Another 33 wins & 24 nomin...,2015-08-31 00:04:34.187000000,series
29859,795176,Planet Earth,2006,TV-G,60 min,Documentary,2007-03-25,NaN,NaN,"David Attenborough, Sigourney Weaver",...,9.5,82896.0,https://m.media-amazon.com/images/M/MV5BNzA0NT...,"Emmy Award winning, 11-episodes, 5-years in th...",Each 50 minute episode features a global overv...,English,UK,Won 4 Primetime Emmys. Another 10 wins & 14 no...,2015-09-15 05:36:43.637000000,series
12376,87117,Dances Sacred and Profane,1985,R,1 h 30 min,Documentary,1993-03-20,"Dan Jury, Mark Jury","Mark Jury, Charles Gatewood","Fakir Musafar, Jim Ward, Charles Gatewood",...,9.5,19.0,NaN,NaN,NaN,NaN,NaN,NaN,2012-06-10 00:00:00,movie
22854,252487,The Chaos Class,1975,NaN,87 min,"Comedy, Drama",1975-04-01,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz (novel)","Kemal Sunal, M�nir �zkul, Halit Ak�atepe, Tari...",...,9.5,22244.0,NaN,"Lazy, uneducated students share a very close b...","Lazy, uneducated students share a very close b...",Turkish,Turkey,NaN,2015-05-02 02:29:25.447000000,movie
45443,4487148,The Third Annual 'On Cinema' Oscar Special,2015,NaN,222 min,Comedy,2015-02-22,Eric Notarnicola,"Tim Heidecker, Eric Notarnicola, Andrew Porter...","Kim Delgado, Joe Estevez, Hank Friedmann, Bria...",...,9.5,17.0,NaN,"Tim Heidecker, Gregg Turkington and the rest o...","Tim Heidecker, Gregg Turkington and the rest o...",English,USA,NaN,2015-07-27 04:34:37.730000000,movie

## Daten Filtern

Um einen Pandas Dataframe zu Filtern wird die Bedingung direkt in die eckigen Klammern geschrieben und das Resultat einer neuen Variable zugewiesen.

```python
filtered_data = data[data["year"] == "1989"]
```

- Filtere die Daten nach verschiedenen Werten wie dem Jahr oder dem Land.
- Finde alle Filme mit einem Rating höher als 9
- Finde alle Filme zwischen 1990 und 1999
- Finde alle Filme mit dem Genre "Animation"

In [13]:
movies_1989 = data[data['year'] == "1989"]
movies_1989.head()

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
7740,64820,The Plot Against Harry,1989,NaN,81 min,Comedy,1990-05-16,Michael Roemer,Michael Roemer,"Martin Priest, Ben Lang, Maxine Woods, Henry Nemo",...,6.9,246.0,https://m.media-amazon.com/images/M/MV5BNzg4MT...,"A small-time Jewish racketeer, just out of pri...","A small-time Jewish racketeer, just out of pri...",English,USA,1 win & 7 nominations.,2015-07-25 00:27:11.930000000,movie
11098,80755,"Things I Like, Things I Don't Like",1989,NaN,8 min,"Short, Comedy",1989-01-01,Jean-Pierre Jeunet,"Bruno Delbonnel, Jean-Pierre Jeunet","Dominique Pinon, Chick Ortega, Marie-Laure Dou...",...,7.8,1556.0,NaN,A 9 minute comedy starring Dominique Pinon (De...,A 9 minute comedy starring Dominique Pinon (De...,French,France,4 wins.,2015-09-02 00:31:11.647000000,movie
11861,84548,Interrogation,1989,NaN,118 min,"Crime, Drama, Thriller",1989-12-13,Ryszard Bugajski,"Ryszard Bugajski, Janusz Dymek","Krystyna Janda, Adam Ferency, Janusz Gajos, Ag...",...,8.2,1826.0,https://m.media-amazon.com/images/M/MV5BMjAxND...,Tonia goes out drinking. She wakes up in priso...,Tonia goes out drinking. She wakes up in priso...,Polish,Poland,8 wins & 4 nominations.,2015-07-30 00:14:47.333000000,movie
12968,90334,Wizards of the Lost Kingdom II,1989,PG,80 min,"Action, Fantasy, Adventure",1989-03-01,Charles B. Griffith,"Charles B. Griffith, Lance Smith","Mel Welles, Robert Jayne, David Carradine, Sus...",...,1.8,304.0,NaN,Three kingdoms have been overtaken by three ev...,Three kingdoms have been overtaken by three ev...,English,USA,NaN,2015-08-26 00:04:28.447000000,movie
13339,92337,The Decalogue,1989,NaN,572 min,Drama,1989-12-10,NaN,NaN,"Artur Barcis, Olgierd Lukaszewicz, Olaf Lubasz...",...,9.2,10958.0,https://m.media-amazon.com/images/M/MV5BMTMyMz...,"Ten television drama films, each one based on ...",This is a series of ten shorts created for Pol...,Polish,"Poland, West Germany",9 wins.,2015-08-26 00:25:24.917000000,series

In [10]:
movies_japan = data[data["country"] == "Japan"]
len(movies_japan)
# movies_japan.head()

1468

Dadurch werden alle Filme gefiltert welche nur in Japan produziert wurden. Filme welche unter anderem in Japan produziert wurden fallen raus da der Wert des Feldes nicht nur das Wort "Japan" enthält sondern bspw. "USA, Japan". Mit `str.contains` wird geschaut ob in einem String (bspw. "USA, Japan") ein Teil "Japan" vorkommt.

In [11]:
all_movies_japan = data[data["country"].str.contains("Japan", na=False)]
len(all_movies_japan)
#all_movies_japan.head()

1886

In [12]:
# All movies with a rating of 9 or higher
best_movies = data[data["imdbRating"] >= 9]
best_sorted = best_movies.sort_values(by="imdbRating", ascending=False)
best_sorted.head()

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
20963,185906,Band of Brothers,2001,TV-MA,705 min,"Action, Drama, History",2001-09-09,NaN,NaN,"Scott Grimes, Matthew Leitch, Damian Lewis, Ro...",...,9.6,183802.0,https://m.media-amazon.com/images/M/MV5BMTI3OD...,The story of Easy Company of the US Army 101st...,"This is the story of ""E"" Easy Company, 506th R...","English, Dutch, French, German, Lithuanian","UK, USA",Won 1 Golden Globe. Another 33 wins & 24 nomin...,2015-08-31 00:04:34.187000000,series
45443,4487148,The Third Annual 'On Cinema' Oscar Special,2015,NaN,222 min,Comedy,2015-02-22,Eric Notarnicola,"Tim Heidecker, Eric Notarnicola, Andrew Porter...","Kim Delgado, Joe Estevez, Hank Friedmann, Bria...",...,9.5,17.0,NaN,"Tim Heidecker, Gregg Turkington and the rest o...","Tim Heidecker, Gregg Turkington and the rest o...",English,USA,NaN,2015-07-27 04:34:37.730000000,movie
22854,252487,The Chaos Class,1975,NaN,87 min,"Comedy, Drama",1975-04-01,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz (novel)","Kemal Sunal, M�nir �zkul, Halit Ak�atepe, Tari...",...,9.5,22244.0,NaN,"Lazy, uneducated students share a very close b...","Lazy, uneducated students share a very close b...",Turkish,Turkey,NaN,2015-05-02 02:29:25.447000000,movie
29859,795176,Planet Earth,2006,TV-G,60 min,Documentary,2007-03-25,NaN,NaN,"David Attenborough, Sigourney Weaver",...,9.5,82896.0,https://m.media-amazon.com/images/M/MV5BNzA0NT...,"Emmy Award winning, 11-episodes, 5-years in th...",Each 50 minute episode features a global overv...,English,UK,Won 4 Primetime Emmys. Another 10 wins & 14 no...,2015-09-15 05:36:43.637000000,series
12376,87117,Dances Sacred and Profane,1985,R,1 h 30 min,Documentary,1993-03-20,"Dan Jury, Mark Jury","Mark Jury, Charles Gatewood","Fakir Musafar, Jim Ward, Charles Gatewood",...,9.5,19.0,NaN,NaN,NaN,NaN,NaN,NaN,2012-06-10 00:00:00,movie

Um alle Filme zwischen 1990 und 1999 zu finden müssen Zahlen verglichen werden können. Das Problem ist, dass es sich bei den Werten in `data["year"]` um Strings und nicht um Zahlen handelt. Dies lässt sich feststellen in dem der Typ eines Eintrages ausgegeben wird: `print(type(data["year"].iloc[10]))`.

Um das Problem zu umgehen müssen die Strings in Zahlen konvertiert werden. Dazu kann dem Dataframe eine neue Spalte hinzugefügt werden mit `data['year_numeric']`. In diese Spalte werden die konvertierten Werte gespeichert. Dadurch bleiben die uhrsprünglichen Werte in der Spalte "Year" vorhanden. Um die Werte umzurechnen kann auf eine Pandas Funktion zurückgegriffen werden: `pd.to_numeric(data['year'], errors='coerce')`

In [16]:
# Print the type of a year entry
print(type(data["year"].iloc[10]))

# Convert the 'year' column to numeric, coercing errors (e.g., invalid strings will become NaN)
data['year_numeric'] = pd.to_numeric(data['year'], errors='coerce')

# apply the filtering
movies_90s = data[(data['year_numeric'] >= 1990) & (data['year_numeric'] <= 1999)]
movies_90s.head()

<class 'str'>

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type,year_numeric
7777,64994,Larks on a String,1990,NaN,94 min,"Comedy, Drama, Romance",1990-02-01,Jir� Menzel,"Bohumil Hrabal (novel), Jir� Menzel","Rudolf Hrus�nsk�, Vlastimil Brodsk�, V�clav Ne...",...,1081.0,https://m.media-amazon.com/images/M/MV5BMTE5OT...,"Set in the late 1940s, the film concerns the t...",Prague in the early 1950's. Bourgeois elements...,Czech,Czechoslovakia,3 wins.,2015-09-02 00:42:33.240000000,movie,1990.0
11177,81145,Me and the Kid,1993,PG,94 min,"Comedy, Crime, Drama",1993-10-22,Dan Curtis,"Stanley Cohen (novel), Richard Tannenbaum (scr...","Danny Aiello, Alex Zuckerman, Joe Pantoliano, ...",...,189.0,https://m.media-amazon.com/images/M/MV5BMTIwMT...,A lonely and emotionally neglected rich kid fo...,"Two ex-cons, Harry (Aiello) and Roy (Pantolian...",English,USA,NaN,2015-08-25 00:20:34.790000000,movie,1993.0
13014,90665,Halfaouine: Boy of the Terraces,1990,UNRATED,98 min,"Drama, Comedy",NaN,F�rid Boughedir,"F�rid Boughedir, Nouri Bouzid, Taoufik Jebali ...","Selim Boughedir, Mustapha Adouani, Rabia Ben A...",...,826.0,https://m.media-amazon.com/images/M/MV5BNzk3Nj...,A coming-of-age comedy/drama set in Tunisia. T...,A coming-of-age comedy/drama set in Tunisia. T...,Arabic,"Tunisia, France, Italy",4 wins & 1 nomination.,2015-09-02 00:26:48.883000000,movie,1990.0
13757,94333,The Witching of Ben Wagner,1990,G,96 min,NaN,NaN,Paul Annett,"Mary Jane Auch (novel), Malcolm Marmorstein","Sam Bottoms, Harriet Hall, Bettina Rae, Justin...",...,134.0,NaN,Ben Wagner and his family are moving to a new ...,"[Contains spoilers] ""George Wagner (Sam Bottom...",English,USA,2 nominations.,2015-08-09 00:51:36.943000000,movie,1990.0
13840,94841,The House of Smiles,1991,NaN,110 min,"Drama, Romance",1991-03-01,Marco Ferreri,"Liliane Betti, Marco Ferreri, Antonino Marino","Ingrid Thulin, Dado Ruspoli, Enzo Cannavale, N...",...,133.0,NaN,A septuagenarian couple are attracted to each ...,"Adelina, a former ""Miss Smiles"" beauty queen, ...","Italian, French",Italy,1 win & 7 nominations.,2015-08-13 00:06:59.537000000,movie,1991.0

In [19]:
# Filter movies of a certain genre
all_animation = data[data["genre"].str.contains("Animation", na=False)]
all_animation.head()

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type,year_numeric
2,3,Pauvre Pierrot,1892,NaN,4 min,"Animation, Comedy, Short",1892-10-28,�mile Reynaud,NaN,NaN,...,566.0,NaN,"One night, Arlequin come to see his lover Colo...","One night, Arlequin come to see his lover Colo...",NaN,France,NaN,2015-08-12 00:06:02.720000000,movie,1892.0
36,516,The Electric Hotel,1908,NaN,8 min,"Animation, Short",1908-12-19,Segundo de Chom�n,NaN,"Segundo de Chom�n, Julienne Mathieu",...,481.0,NaN,According to the rapid strides that electricit...,According to the rapid strides that electricit...,NaN,"Spain, France",NaN,2015-08-29 00:28:28.703000000,movie,1908.0
41,554,Humorous Phases of Funny Faces,1906,NaN,3 min,"Animation, Short, Comedy",1906-04-06,J. Stuart Blackton,NaN,J. Stuart Blackton,...,625.0,NaN,A cartoonist draws faces and figures on a blac...,Considered the first truly animated movie (or ...,NaN,USA,NaN,2015-08-29 00:29:22.593000000,movie,1906.0
44,682,A Fantasy,1908,NaN,2 min,"Animation, Short, Fantasy",1908-08-17,�mile Cohl,NaN,NaN,...,1245.0,NaN,"The first all-animated film in history, a seri...","The first all-animated film in history, a seri...",NaN,France,NaN,2015-08-29 00:33:10.437000000,movie,1908.0
55,1527,The Revenge of a Kinematograph Cameraman,1912,NaN,12 min,"Animation, Short, Comedy",1912-10-27,Wladyslaw Starewicz,Wladyslaw Starewicz,NaN,...,1593.0,https://m.media-amazon.com/images/M/MV5BMTczOD...,A jilted husband takes his revenge by filming ...,A jilted husband takes his revenge by filming ...,NaN,Russia,NaN,2015-08-25 00:00:33.727000000,movie,1912.0

In [30]:
all_90s_action = movies_90s[(movies_90s["genre"].str.contains("Action", na=False))]
all_90s_action.head()

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type,year_numeric
14201,96875,Catchfire,1990,R,116 min,"Action, Comedy, Crime",1990-04-03,Dennis Hopper,"Rachel Kronstadt Mann (story), Rachel Kronstad...","Dennis Hopper, Jodie Foster, Dean Stockwell, V...",...,2441.00,https://m.media-amazon.com/images/M/MV5BMTI5ND...,A witness to a mob assassination flees for her...,An artist (Foster) witnesses a Mafia hit and c...,English,USA,NaN,2015-08-17 00:56:01.687000000,movie,1990.00
14402,97910,Moon 44,1990,R,98 min,"Action, Sci-Fi, Thriller",1990-02-15,Roland Emmerich,"Dean Heyde (screenplay), Oliver Eberle (screen...","Michael Par�, Lisa Eichhorn, Dean Devlin, Bria...",...,3377.00,https://m.media-amazon.com/images/M/MV5BMTYxND...,Year 2038: The mineral resources of the earth ...,Year 2038: The mineral resources of the earth ...,English,West Germany,2 wins.,2015-09-14 07:21:20.667000000,movie,1990.00
14536,98467,They Call Me Macho Woman!,1991,NaN,81 min,"Action, Comedy",1991-02-01,Patrick G. Donahue,Patrick G. Donahue,"Debra Sweaney, Brian Oldfield, Sean P. Donahue...",...,100.00,NaN,Tromatic Super Heroine Susan Morris has to lea...,Tromatic Super Heroine Susan Morris has to lea...,English,USA,1 nomination.,2015-05-22 10:56:01.243000000,movie,1991.00
14590,98965,3 Little Ninjas and the Lost Treasure,1990,NaN,100 min,Action,NaN,Emmett Alston,Douglas Ivan (story),"Douglas Ivan, Steven Nelson, Jonathan Anzaldo,...",...,681.00,https://m.media-amazon.com/images/M/MV5BMTk3OT...,A treasure map found by three young boys allow...,A treasure map found by three young boys allow...,English,USA,NaN,2015-08-23 00:54:50.373000000,movie,1990.00
14591,98967,Boiling Point,1990,NaN,96 min,"Action, Comedy, Crime",1990-09-15,Takeshi Kitano,Takeshi Kitano (screenplay),"Takeshi Kitano, Y�rei Yanagi, Yuriko Ishida, G...",...,4247.00,https://m.media-amazon.com/images/M/MV5BMjEwMj...,Two disquieted junior baseball players seek re...,Two members of a Japanese junior baseball team...,Japanese,Japan,1 win & 1 nomination.,2015-09-02 00:23:09.287000000,movie,1990.00

## Basic Statistics

- Berechne den Mean und Median der Ratings. Der Mittelwert (Mean) ist der Durchschnitt, der berechnet wird, indem alle Werte addiert und durch die Anzahl der Werte geteilt werden. Der Median hingegen ist der mittlere Wert in einer sortierten Datenreihe, der die Daten in zwei Hälften teilt – unabhängig von extremen Ausreißern.
- Berechne den häufigsten Wert (Mode)
- Finde den niedrigsten und höchsten Wert.

When using `.describe()` some numbers are given in scientific notation (also called exponential notation).

4.934499e+04 means: 4.934499 x 10^4
Which equals: 49344.99

In [25]:
# .describe() outputs all popular statistics of a data set.
# Disable scientific notation for floats
pd.set_option('display.float_format', '{:.2f}'.format)
data.describe()

          imdbID  metacritic  imdbRating  imdbVotes  year_numeric
count   46014.00     9401.00    44300.00   44299.00      45938.00
mean   855206.22       56.90        6.38   11800.55       1991.13
std   1141978.79       17.72        1.18   49344.99         23.91
min         1.00        1.00        1.10       5.00       1874.00
25%     81657.50       45.00        5.80     326.00       1977.00
50%    252487.50       58.00        6.60     999.00       2000.00
75%   1370867.50       70.00        7.20    3829.00       2010.00
max   5023260.00      100.00        9.60 1521105.00       2019.00

In [26]:
# Calculate the mean
mean_rating = data['imdbRating'].mean()

# Calculate the median
median_rating = data['imdbRating'].median()

# Print the results
print(f"Mean IMDb Rating: {mean_rating}")
print(f"Median IMDb Rating: {median_rating}")

Mean IMDb Rating: 6.381453724604965
Median IMDb Rating: 6.6

In [27]:
# der häufigste wert
data['imdbRating'].mode()

0   7.20
Name: imdbRating, dtype: float64

In [28]:
# Min & Max
print(f"Lowest Rating:: {data['imdbRating'].min()}")
print(f"Highest Rating: {data['imdbRating'].max()}")

Lowest Rating:: 1.1
Highest Rating: 9.6

## Export

- Exportiere einer der gefilterten Datensätze als neues CSV.
- Exportiere den selben Datensatz auch als JSON und Excel File

In [31]:
export_path = './export/movies_90s_action.csv'
all_90s_action.to_csv(export_path, index=False)

In [32]:
all_90s_action.to_json('./export/movies_90s_action.json', orient='records')

In [33]:
all_90s_action.to_excel('./export/movies_90s_action.xlsx', index=False)

ModuleNotFoundError: No module named 'openpyxl'