# 01 Basics

## Overview Data Types

In [1]:
# Numbers 
42

42

In [2]:
# Floats
3.14

3.14

In [3]:
# Strings
"hello DDA24"

'hello DDA24'

In [4]:
## Booleans
1==1

True

In [5]:
1==2

False

## Defining Variables

In [6]:
# Integer
x = 10
x

10

In [7]:
# Float
y = 3.14
y

3.14

In [8]:
# String
name = "Alice"
name

'Alice'

In [9]:
# Boolean
is_active = True
is_active

True

## Printing Variables

In [5]:
print(x)          # Output: 10
print(x, y)       # Output: 10 3.14
print(name)       # Output: Alice
print(f"Hello, {name}!")  # Output: Hello, Alice!

10
10 3.14
Alice
Hello, Alice!

## Basic Calculations

In [10]:
# Arithmetic operations
sum_value = 5 + 3      # Addition
sub_value = 5 - 3      # Subtraction
product = 4 * 2        # Multiplication
division = 10 / 3      # Division (float result)
floor_div = 10 // 3    # Floor division: divides the numbers and rounds the result down to the nearest integer.

# Modulor: Returns the remainder of a division.
# Can be used to check if a numver is even: 
# 7 % 2 = 1, so it’s odd
# 8 % 2 = 0, so it’s even
modulus = 10 % 3

# Exponentiation: 
# Raises a number to a power.
# 2**3 => 2 × 2 × 2 = 8
power = 2 ** 3

print(sum_value, sub_value, product, division, floor_div, modulus, power)

8 2 8 3.3333333333333335 3 1 8

## Printing Data Types

In [10]:
print(type(x))      # Output: <class 'int'>
print(type(y))      # Output: <class 'float'>
print(type(name))   # Output: <class 'str'>
print(type(is_active))  # Output: <class 'bool'>
print(type(5 / 3))
print(type("abc"))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'str'>

## Zwischenaufgaben

### 1. Zuweisung

Weise den Wert ```42``` einer Variable mit dem Namen ```ultimate_answer``` zu.

### 2. Rechenaufgaben

- Berechne `6+2+10`
- Wie viel ist 4³ (vier hoch drei)?

### 3. Print Statement

Schreibe ein Programm, welches deinen Vornamen in einer Variable ```firstname``` speichert und dann folgenden Text ausgibt:
> Hallo VORNAME - Es freut mich, dass du programmieren lernst. 


### 4. Swap

Schreib ein Programm, welches den Wert der Variablen ```a``` und ```b``` vertauscht, d.h. ```a``` soll am Ende den Wert von ```b``` haben und ```b``` den Wert der Variablen ```a```. Dabei darfst du die Werte ```0``` und ```1``` nicht direkt zuweisen, sondern musst Variablen (und allenfalls Hilfsvariablen) nutzen. 

Übernimm dazu diese vorgegebenen Variablen:

```python
a = 0 # Diese Zeile darf nicht verändert werden
b = 1 # Diese Zeile darf nicht verändert werden
```

### Lösungen Zwischenaufgabe

In [11]:
ultimate_answer = 42

In [11]:
sum_value = 6+2+10
sum_value_2 = 4**3

print(sum_value, sum_value_2)

18 64

In [12]:
firstname = "Max"
print("Hallo", firstname, "- Es freut mich, dass du programmieren lernst.")

Hallo Max - Es freut mich, dass du programmieren lernst.

In [13]:
a = 0 # Diese Zeile darf nicht verändert werden
b = 1 # Diese Zeile darf nicht verändert werden

# Ihre Lösung
holdA = a
a = b
b = holdA

print("Wert von a:", a, "Wert von b:", b)

Wert von a: 1 Wert von b: 0

## Objekttypen Konvertieren

Mit `int()`, `float(`) und `str()` können wir ein Objekt zu einem anderen Typ umwandeln.

In [15]:
x = 10.5
print(x, type(x))

# wichtig, neu zuweisen!
x = int(x)
print(x, type(x))

10.5 <class 'float'>
10 <class 'int'>

In [16]:
y = 42
print(y, type(y))

y = float(42)
print(y, type(y))

42 <class 'int'>
42.0 <class 'float'>

In [23]:
z = 1893
print(z, type(z))

z = str(1983)
print(z, type(z))

z

1893 <class 'int'>
1983 <class 'str'>

'1983'

### Zwischenaufgabe

Erstelle ein Print Statement welches die Zahl des Jahres in 10 Jahren ausgibt. Nutzte dazu die unten vorbereitete Zelle. Das Print statement sollte so aussehen: `In 10 Jahren ist das Jahr 2035.`

In [24]:
year = '2025'
future = 10

# add your code

#### Lösung Zwischenaufgabe

In [ ]:
year = int(year)
future_year = year + future

print("In", future, "Jahren ist das Jahr", future_year)