# Vega Altair

Vega-Altair is a declarative statistical visualization library for Python, based on Vega and Vega-Lite. It offers a powerful and concise grammar that enables you to quickly build a wide range of statistical visualizations. 

You can install Altair with the terminal command: 

`pip install "altair[all]"`

* More infos: Check the [installation guide](https://altair-viz.github.io/getting_started/installation.html) 
* Inspiration: Browse the [Example gallery](https://altair-viz.github.io/gallery/index.html#example-gallery) 
* Great Youtube tutorial: [Buy the guy who encoded Altair](https://youtu.be/ms29ZPUKxbU?feature=shared&t=6)

In [8]:
#import libraries
import altair as alt
import pandas as pd

In [9]:
#load data
df_raw = pd.read_csv("data/pokemon.csv")
df_raw.head(2)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,year
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,1996
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,1996

### Data Cleaning

In [10]:
df_raw.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary', 'year'],
      dtype='object')

In [11]:
# select the columns we really want

df = df_raw[['name', 'type1',	'type2', 'classfication', 'height_m', 'weight_kg','year',
              'is_legendary', 'attack','speed','hp', 'base_happiness',  'capture_rate']]

In [12]:
# wir schauen nur Pokemons der 1. Generation an
df = df[df['year']==1996]

In [13]:
# sind alle spalten im richtigen Datentyp?
df.dtypes

name               object
type1              object
type2              object
classfication      object
height_m          float64
weight_kg         float64
year                int64
is_legendary        int64
attack              int64
speed               int64
hp                  int64
base_happiness      int64
capture_rate       object
dtype: object

In [14]:
# ... capture rate könnte ein integer sein.

df['capture_rate'] = df['capture_rate'].astype(int)

## Exkurs: Mehr pandas-funktionen

In [18]:
df['type1'].value_counts()

type1
water       28
normal      22
poison      14
grass       12
fire        12
bug         12
electric     9
rock         9
ground       8
psychic      8
fighting     7
ghost        3
dragon       3
fairy        2
ice          2
Name: count, dtype: int64

In [19]:
df['type1'].value_counts().reset_index()

       type1  count
0      water     28
1     normal     22
2     poison     14
3      grass     12
4       fire     12
5        bug     12
6   electric      9
7       rock      9
8     ground      8
9    psychic      8
10  fighting      7
11     ghost      3
12    dragon      3
13     fairy      2
14       ice      2

groupby.() führt eine Funktion (z.B. Durchschnitt, Maximum, Summe, ect) pro Kategorie aus. Format: <br>
`df.groupby(<Kategorie>)[<Werte>].<funktion()>`

In [20]:
# groupby
df.groupby('type1')['weight_kg'].mean()

type1
bug         22.991667
dragon      76.600000
electric    32.012500
fairy       23.750000
fighting    54.285714
fire        54.650000
ghost       13.566667
grass       19.627273
ground      80.500000
ice         48.000000
normal      57.983333
poison      26.866667
psychic     51.562500
rock        60.583333
water       57.967857
Name: weight_kg, dtype: float64

## Plotting


### Anatomy of an Altair chart
An altair plot always follows this schema:

    alt.Chart(df).mark_bar().encode(
        x = 'column_A',
        y = 'column_B
    )

`Chart()`: variable inside sets from which dataframe data should be plotted <br>
`mark_bar()`: choose which form the plot should take<br>
`encode`: set what to plot

##### Bar chart

In [ ]:
df_top_height = df.sort_values('height_m', ascending = False).head(10)
df_top_height

In [ ]:
# Bar chart
alt.Chart(df_top_height).mark_bar().encode(
    x = 'height_m',
    y = alt.Y('name', sort='-x' )
)

### Plot types

There is 
* `mark_bar`
* `mark_line`
* `mark_point`
* `mark_boxplot`
* `mark_square`

##### Line chart
Line charts machen besonders bei zeitlichen Abläufen Sinn.

In [ ]:
# wir nehmen wieder den gesamten DF vom Anfang (vor der selektion auf Generation 1)
df_raw.head(2)

In [ ]:
# wie viele Pokemons gab es pro Generation?
df_generation = df_raw.value_counts('year').reset_index().sort_values('year')
df_generation

In [ ]:
# Line chart
alt.Chart(df_generation).mark_line().encode(
    x = 'year',
    y = 'count'
)

#### Scatterplot
Dot plots eignen sich gut um Zusammenhänge zwischen Zahlenwerten aufzuzeigen.

In [ ]:
df.head(2)

In [ ]:
# Je grösser desto schwerer?

alt.Chart(df).mark_point().encode(
    x = 'weight_kg',
    y = 'height_m', 
    tooltip = ['name', 'weight_kg', 'height_m']
)

In [ ]:
# Wähle zwei eigene Spalten und vergleiche sie 

alt.Chart(df).mark_point().encode(
    x = '',
    y = '', 
    tooltip = ['name', '', '']
)

### Boxplot
Boxplots zeigen die Verteilung von Werten nach Kategorie an.

In [ ]:
df.head(1)

In [ ]:
alt.Chart(df).mark_boxplot().encode(
    x = 'type1', 
    y = 'attack', 
    tooltip=['name', 'type1']
)

### Heatmap
Heatmap eignen sich gut um Werte in Farbe darzustellen, wobei die Achsen direkt miteinader im Bezug stehen. Sie kommen vor allem bei zeitlichen Daten zur Anwendung, z.B. um Werte über ein Jahr hinweg pro Tage & Monat darzustellen.

In [ ]:
# Weil unser Dataframe noch keine Zeitdaten hat fügen wir fiktive Daten ein, wann wir das Pokemon gefangen haben. 
import numpy as np

# S
# eries von zufälligen Daten 
df_raw["capture_date"] = pd.to_datetime(
    np.random.choice(pd.date_range("2024-01-01", "2024-12-31"), size=len(df_capture))
)

In [ ]:
df_raw.head(2)

In [ ]:
# sicherstellen, dass "capture_date" im Datumsformat ist
df_raw.dtypes

In [ ]:
df_capture_grouped = df_capture.groupby('capture_date')['name'].count().reset_index()
df_capture_grouped = df_capture_grouped.rename(columns={'name':'count'})

In [ ]:
df_capture_grouped

In [ ]:
alt.Chart(df_capture_grouped).mark_rect().encode(
    x = alt.X('date(capture_date):O'),
    y = alt.Y('month(capture_date):O'),
    color = alt.Color('count'), 
    tooltip = ['capture_date', 'count']
)

## Quizz

In [ ]:
df

1. Erstelle einen Barchart mit den 10 langsamtsen Pokemons. 
* X-Achse: speed
* Y-Achse: name

2. Zeige die durchschnittliche Attack-Werte nach Jahr an mit dem df `df_mean_attack_year`

In [ ]:
# Neuer Dataframe, der nach Jahr gruppiert und für 'attack' den Durchschnitt ausrechnet
df_mean_attack_year = df_raw.groupby('year')['attack'].mean().reset_index()
df_mean_attack_year

In [ ]:
alt.Chart(df_mean_attack_year).mark_line().encode(
    x = 'year', 
    y = 'attack'
)

In [ ]:
df

3. Erstelle ein Punktdiagramm von speed vs. hp. (Basis: df)
* Füge ein Tooltip mit name, speed & hp hinzu.

In [ ]:
alt.Chart(df).mark_point().encode(
    x = 'speed',
    y = 'hp',
    tooltip=['name', 'hp', 'speed']
    
)

4. Erstelle einen Boxplot mit type2 als x-Achse und capture_rate auf der y-Achse (Basis: df)

In [ ]:
df.head(1)

In [ ]:
alt.Chart(df).mark_boxplot().encode(
    x = 'type2', 
    y = 'capture_rate', 
    tooltip='name'
)

5. Bonus: erstelle ein Heatmap, welche type1 und type2 als Achsen hat. <br>
Tipp: verwende `color = alt.Color('count(name)')` um die Anzahl Werte pro Feld einzufärben

In [ ]:
alt.Chart(df).mark_rect().encode(
    x = 'type1', 
    y = 'type2', 
    color = alt.Color('count(name)'),
    tooltip = ['count(name)']
)